{% extends 'base.html' %}
{% load static %}

{% block title %}Change Password Page{% endblock title %}

{% block content %}
    <h2>Slaptažodžio keitimo puslapis</h2>
    <form method="post">
        {% csrf_token %}
        {#        {{ form.as_p }}#}
        <tr>
            <th><label for="id_old_password">Senas slaptažodis:</label></th>
            <td>
{#                <ul class="errorlist">#}
{#                    <li>Your old password was entered incorrectly. Please enter it again.</li>#}
{#                </ul>#}
                <input type="password" name="old_password" autocomplete="current-password" autofocus required
                       id="id_old_password">
            </td>
        </tr>
        <tr>
            <th><label for="id_new_password1">Naujas slaptažodis:</label></th>
            <td>
                <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
                <br>
{#                <span class="helptext"><ul>#}
{#            <li>Your password can’t be too similar to your other personal information.</li>#}
{#            <li>Your password must contain at least 8 characters.</li>#}
{#            <li>Your password can’t be a commonly used password.</li>#}
{#            <li>Your password can’t be entirely numeric.</li>#}
{#        </ul>#}
{#        </span>#}
            </td>
        </tr>
        <tr>
            <th><label for="id_new_password2">Naujo slaptažodžio patvirtinimas:</label></th>
            <td>
{#                <ul class="errorlist">#}
{#                    <li>The two password fields didn’t match.</li>#}
{#                </ul>#}
                <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
            </td>
        </tr>

        <button type="submit">Išsaugoti pakeitimus</button>
    </form>

    <a href="{% url 'profile' %}">Back</a>



{% endblock content %}

