{% extends 'base.html' %}
{% load static %}

{% block title %}Change Password Page{% endblock title %}

{% block content %}
    <h2>Slaptažodžio keitimo puslapis</h2>
    <br>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <br>
    <form method="post">
        {% csrf_token %}
        <tr>
            <th><label for="id_old_password">Senas slaptažodis:</label></th>
            <td>
                <input type="password" name="old_password" autocomplete="current-password" autofocus required
                       id="id_old_password">
            </td>
        </tr>
        <tr>
            <th><label for="id_new_password1">Naujas slaptažodis:</label></th>
            <td>
                <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
                <br>
            </td>
        </tr>
        <tr>
            <th><label for="id_new_password2">Naujo slaptažodžio patvirtinimas:</label></th>
            <td>
                <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
            </td>
        </tr>

        <button type="submit">Išsaugoti pakeitimus</button>
    </form>
    <a href="{% url 'profile' %}">Back</a>

{% endblock content %}

