{% extends 'base.html' %}
{% load static %}
{% block title %}Answer message{% endblock %}


{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="my-cont">
        <div class="my-auth-container">
            {% if user.is_authenticated %}
                <p>"{{ sender_username.username }}" paraše: </p>
                <div class="my-message-container" id="truncateLongTexts">{{ content }}</div>
                <p class="my-parag-style-message">Atsakyti: </p>
                <form class="my-auth-form" action="" method="post">
                    <div class="my-form-container">
                        {% csrf_token %}
                        {{ form.content }}
                        <button type="submit" class="my-form-submit-btn">Siusti</button>
                    </div>
                </form>
                <div class="my-form-container">

                    <a href="{% url 'home' %}" class="my-forml-back-link">Į pagrindinį</a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock content %}