{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="my-book-reg">
        <div class="my-book-register-conteiner">
            {% if user.is_superuser or user.is_authenticated %}
                <form enctype="multipart/form-data" method="POST" class="my-auth-form" action=''>
                    <div class="my-form-container">
                        {% csrf_token %}
                        <div class="my-book-reg-row">
                            <div class="col-left">
                                <label class="my-book-reg-label" for="id_title">Knygos pavadinimas</label>
                            </div>
                            <div class="col-right">
                                {{ form.title }}
                            </div>
                        </div>
                        <div class="my-book-reg-row">
                            <div class="col-left">
                                <label class="my-book-reg-label" for="id_author">Autorius</label>
                            </div>
                            <div class="col-right">
                                {{ form.author }}
                            </div>
                        </div>
                        <div class="my-book-reg-row">
                            <div class="col-left">
                                <label class="my-book-reg-label" for="id_summary">Santrauka</label>
                            </div>
                            <div class="col-right">
                                {{ form.summary }}
                            </div>
                        </div>
                        <div class="my-book-reg-row">
                            <div class="col-left">
                                <label class="my-book-reg-label" for="id_isbn">ISBN</label>
                            </div>
                            <div class="col-right">
                                {{ form.isbn }}
                                <p id="my-mes-summary"></p>
                            </div>
                        </div>
                        <div class="my-book-reg-row">
                            <div class="col-left">
                                <label class="my-book-reg-label" for="id_genre">Žanras</label>
                            </div>
                            <div class="col-right">
                                {{ form.genre }}
                            </div>
                        </div>
                        <div class="my-book-reg-row">
                            <div class="col-left">
                                <label class="my-book-reg-label" for="id_upload">Viršelio nuotrauka</label>
                            </div>
                            <div class="col-right">
                                {{ form.upload }}
                            </div>
                        </div>
                        <div class="my-book-reg-row">
                            <div class="col-left">
                                <label class="my-book-reg-label" for="id_language">Kalba</label>
                            </div>
                            <div class="col-right">
                                {{ form.language }}
                            </div>
                        </div>
                        <div class="my-book-reg-row">
                            <div class="col-left">
                                <label class="my-book-reg-label" for="id_for_sale">Parduodama</label>
                            </div>
                            <div class="col-right">
                                {{ form.for_sale }}
                            </div>
                        </div>
                        <div class="my-book-reg-row">
                            <div class="col-left">
                                <label class="my-book-reg-label" for="id_price">Kaina</label>
                            </div>
                            <div class="col-right">
                                {{ form.price }}
                            </div>
                        </div>
                        <div class="my-book-reg-row">
                            <div class="col-left">
                                <label class="my-book-reg-label" for="id_for_exchange">Mainams</label>
                            </div>
                            <div class="col-right">
                                {{ form.for_exchange }}
                            </div>
                        </div>
                        <div class="my-book-reg-row">
                            <div class="col-left">
                                <label class="my-book-reg-label" for="id_for_donation">Dovana</label>
                            </div>
                            <div class="col-right">
                                {{ form.for_donation }}
                            </div>
                        </div>
                        <button type="submit" class="my-form-submit-btn">Pridėti</button>
                    </div>
                </form>
                <a class="my-forml-back-link" href="{% url 'home' %}">Atgal</a>
            {% endif %}
        </div>
    </div>
    <br>
    <br>

{% endblock content %}