{% extends 'base.html' %}
{% load static %}



{% block content %}
    <div class="search-add-block">
        <input type="button" value="Pridėti knygą" onclick="location.href='{% url 'book_register' %}'">
    </div>

    <div class="album py-5">
        <div class="">
            <div class="row  g-3 my-lib">
                {% for book in data %}
                    <div class="col">
                        <div class="card shadow-sm my-book-div-width">
                            <div class="">
                                <a href="{% url 'book_details' book.pk %}">
                                    <img class="bd-placeholder-img card-img-top my-img-size"
                                         width="100%" height="225"
                                         src="{{ book.upload.url }}"
                                         alt="{{ book.title }}">
                                </a>
                            </div>

                            <div class="card-body">
                                <p class="card-text my-text-align">{{ book.title }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock content %}
