
:root {
    --clr-primary: #6aeeb5;
    --clr-primary-hover: #86a990;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;

    --radius: 0.2rem;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--clr-gray100);
}
.content {
  flex: 1;
  padding: 20px;
}

div.gallery {
    border: 1px solid #ccc;
}

.gallery-main {
    padding: 1em;
}

.book-list-block {
    display: flex;
    flex-wrap: wrap;
    /*margin: 0 -0.5em;*/
    margin-left: 5em;
    margin-right: 5em;
}


div.gallery:hover {
    border: 1px solid #777;
}
.book-detail-img{
        max-width: 16%;
    /*flex: 1 1 16%;*/
    padding: 0.3rem 0 0 0.3rem;
    margin: 0.3rem 0 0 0.3rem;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {
    max-width: 16%;
    /*flex: 1 1 16%;*/
    padding: 0.3rem 0 0 0.3rem;
    margin: 0.3rem 0 0 0.3rem;
}



@media only screen and (max-width: 1200px) {
    .book-list-block {
        margin-left: 4em;
        margin-right: 4em;
    }

    .responsive {
        max-width: 19%;
        /*flex: 1 1 19%;*/
    }
}

@media only screen and (max-width: 1020px) {
    .book-list-block {
        margin-left: 3em;
        margin-right: 3em;
    }

    .responsive {
        max-width: 24%;
        /*flex: 1 1 24%;*/
    }
}

@media only screen and (max-width: 840px) {
    .book-list-block {
        margin-left: 2em;
        margin-right: 2em;
    }

    .responsive {
        max-width: 32%;
        /*flex: 1 1 32%;*/
    }
}

@media only screen and (max-width: 550px) {
    .responsive {
        max-width: 48%;
        /*flex: 1 1 48%;*/
    }
}

@media only screen and (max-width: 480px) {
    .book-list-block {
        flex-direction: column;
        margin-left: 1em;
        margin-right: 1em;
    }

    .responsive {
        max-width: 100%;
        /*flex: 1 1 100%;*/
        padding: 0.3rem 0 0 0.3rem;
        margin: 0.3rem 0 0 0.3rem;
    }
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*book register*/
#id_price{
    /*display: none;*/
    visibility: hidden;
}
/*===========*/